*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    flex-wrap: wrap;
}
.music-player{
    background: #ffe0e5;
    text-align: center;
    padding: 25px 35px;
    width: 400px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    line-height: 40px;
    color: #f53192;
    width: 40px;
    height: 40px;
}
.song-img{
    width: 180px;
    height: 180px;
    border: 8px solid #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
.music-player h1{
    font-size: 20px;
    font-family: 400;
    color: #333;
    margin-top: 20px;
    margin-bottom: 4px;
}
.music-player p{
    font-size: 14px;
    color: #333;
}
/* #progress{
    -webkit-appearance: none;
    width: 100%;
    margin: 40px 0;
    background: #f53192;
    cursor: pointer;
    border-radius: 4px;
    height: 5px;
} */
/* #progress::-webkit-slider-thumb{
-webkit-appearance: none;
background: #f53192;
width: 30px;
height: 30px;
border-radius: 50%;
border: 8px solid #fff;   
box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
} */

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 50px;
    height: 50px;
    background: #fff;
    color: #f53192;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 5px 20px rgba(255, 26, 26, 0.22);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.controls div:nth-child(2){
    transform: scale(1.2);
    background: #f53192;
    color: #fff;
}

.anime{
    animation: rotatePlayer 3s linear infinite;
}
@keyframes rotatePlayer{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}